[Desktop Entry]
Name=NeoSetzer
Exec=setzer %F
Type=Application
Icon=org.cvfosammmm.Setzer
Categories=GNOME;GTK;Science;Office;
Keywords=latex;bibtex;editor;
MimeType=application/vdn.setzer.session.stzs;text/x-tex;text/x-bibtex;
